@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.bibliographyentry {
    display: block;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0%
    }
.bibliographyentry1 {
    display: block;
    margin-bottom: 0%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 5%
    }
.bold {
    display: inline;
    font-weight: bold;
    line-height: 1.2
    }
.bold1 {
    display: inline;
    font-weight: bold
    }
.calibre {
    height: auto;
    width: auto
    }
.calibre1 {
    display: block;
    line-height: 1.2
    }
.calibre2 {
    display: block
    }
.chapterheada {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7%;
    text-align: center;
    text-indent: 0%
    }
.chapterheadb {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: center;
    text-indent: 0%
    }
.chapternumber {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15%;
    text-align: center;
    text-indent: 0%
    }
.chapteropenerfirstwords {
    display: inline;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-top: 0%
    }
.chapteropenertext {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-indent: 0%
    }
.chaptersubtitle {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 15%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.chaptertitle {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 35%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 18%;
    text-align: center;
    text-indent: 0%
    }
.chaptertitle1 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.chaptertitle2 {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 25%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.colophon {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.contentsentry {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-top: 3%;
    text-align: center;
    text-indent: 0%
    }
.contentsentryname {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.contentshead {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
    text-align: center;
    text-indent: 0%
    }
.copyrighttext {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    text-align: center;
    text-indent: 0%
    }
.copyrighttext1 {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    text-align: justify;
    text-indent: 0%
    }
.copyrighttext2 {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 3%;
    text-align: right;
    text-indent: 0%
    }
.dedicationpage {
    display: block;
    margin-top: 10%;
    page-break-before: always
    }
.dedicationtext {
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0%
    }
.extract {
    display: block;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%
    }
.extracttextnoindent {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-indent: 0%
    }
.halftitlepage {
    display: block;
    page-break-before: always
    }
.halftitlepagetitle {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 35%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0%
    }
.indexentry {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: left;
    text-indent: -5%
    }
.indexitem {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 0;
    margin-top: 0%;
    text-align: left;
    text-indent: -5%
    }
.italic {
    display: inline;
    font-style: italic
    }
.newpage {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    page-break-before: always
    }
.para {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-indent: 5%
    }
.smallcaps {
    font-size: 1em
    }
.smallcaps1 {
    font-size: 0.75em
    }
.spacebreak {
    display: block;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2%;
    text-align: center;
    text-indent: 0%
    }
.text {
    display: block;
    font-size: 1em;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.titlepageauthor {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 12%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.titlepagecontrib {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 18%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.titlepagepublisher {
    display: block;
    font-size: 0.875em;
    line-height: 1.2;
    margin-bottom: 0%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.titlepagesubtitle {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 12%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    text-align: center;
    text-indent: 0%
    }
.titlepagetitle {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10%;
    text-align: center;
    text-indent: 0%
    }

